<!DOCTYPE html>
<header>
  <div class="big-header-container">
    <div class="header1-container">
      <div class="nav-search-container">
        <button class="navigation-button"><svg viewBox="0 0 16 16"><rect x="1" y="3" fill="#333" width="7" height="1"></rect><rect x="1" y="7" fill="#333" width="7" height="1"></rect><rect x="1" y="11" fill="#333" width="7" height="1"></rect></svg></button>
        <button class="search-button"><svg viewBox="0 0 16 16"><path fill="#333" d="M11.3,9.2C11.7,8.4,12,7.5,12,6.5C12,3.5,9.5,1,6.5,1S1,3.5,1,6.5S3.5,12,6.5,12c1,0,1.9-0.3,2.7-0.7l3.3,3.3c0.3,0.3,0.7,0.4,1.1,0.4s0.8-0.1,1.1-0.4c0.6-0.6,0.6-1.5,0-2.1L11.3,9.2zM6.5,10.3c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8c2.1,0,3.8,1.7,3.8,3.8C10.3,8.6,8.6,10.3,6.5,10.3z"></path></svg></button>
      </div>
        <div class="languages-container">
          <span class="language">U.S. </span>
          <span class="language">INTERNATIONAL </span>
          <span class="language">CANADA </span>
          <span class="language">ESPAÑOL </span>
          <span class="language">中文 </span>
        </div>
        <div class="subscribe-login">
          <button class="account-button">SUBSCRIBE FOR $0.5/WEEK</button>
          <button class="account-button">LOG IN</button>
        </div>
    </div>
    <div class="header2-container">
      <div class="current-date"> DD/MM/YYYY</div>
      <div class="main-title"> The New York Times</div>
      <div class="weather">2°C H:7° L:-6°</div>
    </div>
    <div class="subjects">
      <span class="subject-subject">World</span>
      <span class="subject-subject">U.S.</span>
      <span class="subject-subject">Politics</span>
      <span class="subject-subject">N.Y.</span>
      <span class="subject-subject">Business</span>
      <span class="subject-subject">Opinion</span>
      <span class="subject-subject">Tech</span>
      <span class="subject-subject">Science</span>
      <span class="subject-subject">Health</span>
      <span class="subject-subject">Sports</span>
      <span class="subject-subject">Arts</span>
      <span class="subject-subject">Books</span>
      <span class="subject-subject">Style</span>
      <span class="subject-subject">Food</span>
      <span class="subject-subject">Travel</span>
      <span class="subject-subject">Magazine</span>
      <span class="subject-subject">T Magazine</span>
      <span class="subject-subject">Real Estate</span>
      <span class="subject-subject">Video</span>
    </div>
  </div>
</header>
<body>
      <h1 class="prime-news-title">Russia Strikes Ukraine's West in Deadly Assault</h1>
  <div class="container">
    <div class="Image"><img src="assets/russia.jpg" width="583.5px" height="388.6px"></div>
    <div class="News1">
      <h1 class="news1-title">At Least 35 Reported Dead, More Than 100 Injured in Base Attack</h1>
      <ul>
        <li style="color: hsla(0,0%,44.71%,1);">Russian warplanes fired about 30 cruise missiles at a Ukrainian military base near the Polish border, officials said, bringing the war even closer to NATO's doorstep.</li>
        <li style="color: hsla(0,0%,44.71%,1);">The assault hit a base used to ferry weapons and train foreign fighters. Russia had warned that arms shipments were “legitimate targets.” Here’s the latest.</li>
      </ul>
    </div>
    <div class="News2">
      <h1 class="news2-title">U.K. vs. Oligarchs: 'The Gloves Are Now Off'</h1>
      <p style="color: hsla(0,0%,44.71%,1);">The British government is going after ultrawealthy Russians in London. But curbing the flood of corrupt money will require pursuing more than the big names</p>
    </div>
    <div class="News3">
      <img src="assets/ukraine.jpg" width="275px" height="183px">
      <h1 class="news2-title" style="border-bottom: 1px solid gray;">From small towns to large cities, see the extent of Russia's aerial bombardment of Ukraine.</h1>
    </div>
    <div class="News4">
      <h1 class="news2-title">Ukrainians are demanding the release of Melitopol's kidnapped mayor. A successor installed by the Russians was branded a “traitor.”</h1>
    </div>
    <div class="News5">
      <h1 class="news3-title">An award-winning American video journalist was killed while reporting in a suburb of Kyiv, a local official said.</h1>
    </div>
    <div class="News6">
      <h1 class="news3-title">Some Russian scientists are now facing isolation, unraveling international research collaborations.</h1>
    </div>
    <div class="News7">
      <h1 class="news3-title">Former employees of RT America described what it was like to work for Russian state television.</h1>
    </div>
    <div class="News8">
      <h1 class="news3-title">To counter Russia, President Biden is rethinking relationships with allies as well as rivals.</h1>
    </div>
    <div class="News9">
      <h1 class="news3-title">Hundreds of planes owned by Western companies are stranded in Russia. They may never be recovered.</h1>
    </div>
  </div>
  
</body>